


button {
	padding: 10px;
	margin: 10px;
}

.add {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

.delete {
    background-color: #f44336; 
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

.mine {
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}


.navigation {
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #eee;

}

.navigation ul {
  margin: 20px;
  padding: 20px;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
}



.expertise ul {
   list-style: none;
   margin: 0;
   padding: 10px;
}

.expertise li {
  float: left;
}

.charity ul {
   list-style: none;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

.profiles {
  padding: 30px;
  margin: 30px;
}

.input {
  padding: 30px;
  margin: 30px;
  display: block;
  border: 20px;
}

#profiles ul{
  list-style: none;
  padding: 20px;
}

#description {
  height:50px;
  width: 600px;
  font-size:10pt;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}