<div>
<form name="form" ng-submit="addExpertise()">
	<label>Add Expertise:</label>
	<input size='50' ng-model='expertise' required>
	<button type='submit' ng-disabled="form.$invalid">Add Expertise</button>
	<button ng-click="nextPage()">Next Page</button>

</form>

<ul>
	<li class="expertise" ng-repeat= "item in expertiseArray">
		<button ng-click="selectExpertise($index)" size="30" ng-class="{mine: item.added}"> {{item.name}}</button>
		<button class="add" ng-click="addExpertiseToProfile($index)" ng-hide="item.added" ng-class="{add: item.added}">+</button>
		<button class="remove" ng-show="item.added" ng-click="removeExpertiseFromProfile($index)" ng-class="{delete: !item.added}">-</button>
<!-- ng-disabled='shortlyForm.$invalid' -->
		<!-- <button class="delete" ng-click="">x</button> -->
	</li>
</ul>
</div>